button {
  border: 1px solid color-mix(in srgb, var(--ko-yellow) 25%, #000000);
  background-color: transparent;
  color: var(--ko-yellow);
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: all .3s ease;
  &:hover {
    background-color: color-mix(in srgb, var(--ko-yellow) 25%, #000000);
  }
}
